

*{
	max-width: 1280px;
	box-sizing: border-box;
	font-family: 'arial';
}

#container{
	max-width: 100%;
	margin:0px auto;
}


		li: hover{
			background-color:red;
		}

		#navigation img{
			display:inline-block;
			float:right;
			clear:none;
			padding-right: 2.5%;

			

		}


		#navigation{
			background: #464aee;
			padding:1%;
			margin-bottom: 0%;
		}
		


		#navigation h1{
			display:inline-block;
			float:right;
			color:#ffffff;
			padding-right: 1%;
		}

		

		#navigation li{
			display:inline-block;

		}

		#navigation ul{
			display:inline-block;



		}

		#navigation a: active{
			color:white;
		}


		#housing{
			margin-right: 60%
		}











/*

header{
	background:#464aee;
	color:white;
}
*/
#navigation a:active{
	color:white;
}

#navigation a:visited{
	color:white;
}



#footer li{
	list-style: none;
	display:inline-block;

}

		#search input{
			width:20%;
			margin-top:2%;
			margin-left:5%;
			height:30px;
			float:left;
			clear:left;
			border-style:solid;
			border-radius:5px 0px 0px 5px;


		}

		#search button{
			background: #464aee;
			width:4%;
			height:30px;
			display: inline-block;
			margin-top:2%;
			border-style:solid;
			border-color:#464aee;
			border-radius:0px 5px 5px 0px;
			clear:right;
		}

		#filterButtons p{
			margin-left:5%;

	
			
		}

		#filterButtons button{
			display:inline-block;
			background:#464aee;
			color:white;
			font-weight: bold;
			width:8%;
			height:40px;
			border-style:solid;
			border-color:#464aee;
			border-radius:5px;
			margin-bottom: 1%;




		}

#footer a{
	text-decoration:none;
}		


#footer a:visited{
	color:white;

}

#footer a:active{
	color:white;
}
footer{
	width:100%;
	background:#464aee;
	color:white;
	margin-top: 20px
	max-height:20px;
	display:inline-block;
	text-align:center; 


}


