

*{
	box-sizing: border-box;
	font-family: 'arial';
}

#container{
	max-width: 100%;
	margin:0px auto;
}

img{
	max-width: 900px;
}

header{
	background:blue;
	color:white;
}


#navigation li: visited{
	color:white;
}


#naviagtion li{
list-style-type: none;
display:inline-block;
}

#footer li{
	list-style: none;
	display:inline-block;

}



footer{
	width:100%;
	background:blue;
	color:white;
	margin-top: 20px
	max-height:20px;
	display:inline-block;
	text-align:center; 


}
